@page "/"

<h1>Twitch Chat Bot for Twilio</h1>

This is the bootstrap app

<AuthorizeView>
    <Authorized>

    </Authorized>
    <NotAuthorized>
        <p>To get started, login with the TwilioChatBot credentials above.</p>
    </NotAuthorized>
</AuthorizeView>
