@page "/subscriptions"

<h3>Subscriptions</h3>
<AuthorizeView>
    <NotAuthorized>
        <p>You are not supposed to see this page. Please login using the Twilio Chat Bot account credentials. Thank you</p>
    </NotAuthorized>
    <Authorized>
        <div class="subscriptions">
            <div class="buttons">
                <button class="btn btn-primary" @onclick="StartSubscription">Subscribe to Events</button>
                <button class="btn btn-primary" @onclick="StopSubscription">Unsubscribe from Events</button>
            </div>
            <div class="row">
                <ul class="list-group">
                    @foreach(var channel in TwitchService.Channels)
                    {
                        <li class="list-group-item">Channel: @channel</li>
                    }
                </ul>
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code {

}
