<AuthorizeView>
    <Authorized>
        <button class="btn btn-primary" @onclick="Logout">Logout from Twitch</button>
    </Authorized>
    <NotAuthorized>
        <button class="btn btn-primary" @onclick="Login">Login with Twitch</button>
    </NotAuthorized>
</AuthorizeView>
